@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


body {
  margin: 0;
  padding: 0;
}

body {
  /* Replace 'Roboto' with the name of the font you imported */
  font-family: 'Zalando Sans', sans-serif; 
}




